$very-dark-blue: hsl(200, 15%, 8%); // Light mode text
$dark-gray: hsl(0, 0%, 52%); // Light Mode Input
$very-light-gray: hsl(0, 0%, 98%); // Light Mode Background
$white: hsl(0, 0%, 100%);

// Dark theme

$dark-blue: hsl(209, 23%, 22%);
$dark-blue-bg: hsl(207, 26%, 17%);